{%extends 'base.html'%}
{% block content %}
<br>
<div class="container">

  <div class="row">

    {% if images%}
    <font color="white" class="capitalize">{{ images|length }} {{message}} products found...</font>
    {% else %}
    <font color="white"> No Products found {{message}}</font>
    {% endif %}

  </div>
  <hr>
  <div class="row">
    <div class="container">
      <div class="card-columns">

        {% for image in images %}
        <div class="card border-secondary">
          <div class="card-header"><h4>{{image.name}}</h4></div>
          <img class="card-img-top" class="img-responsive" src="{{image.image.url}}" size="100px200">
        </div>

        {%endfor%}
      </div>

    </div>

  </div>
</div>
{% endblock %}
